# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables
.env

# PyInstaller
*.spec
dist/
build/
win-unpacked/
*.exe

# VS Code
.vscode/

# Project Specific
temp/
logs/
output/
models/whisper/
models/ollama/
internal_db/
cache/

# OS
Thumbs.db
Desktop.ini

# Node
node_modules/
